name: Update README

on:
  schedule:
    - cron: "0 */12 * * *"
  workflow_dispatch: 

jobs: 
  build:
    runs-on: ubuntu-latest
    name: Update Profile README

    steps:
      - uses: actions/checkout@v2.3.4